# 							-*-conf-unix-*-
*.cm[ioax]
*.cmx[as]
*.annot
.depend.ocaml
*.exe
*.com
*.byte
*.native
# Automake & configure
autom4te.cache
configure
aclocal.m4
config.log
config.status
Makefile.ocaml
src/Makefile
src/META
doc/html
# Examples
*.pdf
*.ps
*.png
*.svg
examples/Makefile
# Documentation
doc/html
# OASIS / ocamlbuild
_tags
_build/
*.data
*.docdir
*.odocl
README.txt
AUTHORS.txt
INSTALL.txt
src/*.mllib
src/*.clib
*.native
*.byte
setup.log
*.bak
*.tar.gz
